<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <a th:href="@{/logout}">Log off</a>
        <a th:href="@{/contact}">Contact</a>
        <a th:href="@{/profile}">Profile</a>
        <a th:href="@{/transfer}">Transfer</a>
        <a class="active" th:href="@{/homePage}">Home</a>
        <a id="logo" th:href="@{/homePage}">Pay My Buddy</a>
    </div>

    <div class="gl">
        <a class="agl" th:href="@{/homePage}">Home</a>
    </div>

    <div style="padding-left:16px">
    </div>
</body>
</html>