<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body class="text-center">

<!-- /login?error=true -->
<!--
<th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
    <div th:if= "${#request.getParameter('error') == 'true'}"
         style="color: red; margin: 10px 0px;">
        Login Failed!!!<br /> Reason :
        <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
    </div>
</th:block>
-->

<form method="POST" th:action="@{/login}" class="form-signin">
    <div class="logo">Pay My Buddy</div>
    <!--
    <p th:if="${param.error}" class="error">Invalid email or password</p>
    <p th:if="${param.logout}" class="success">You have been logged out</p> -->

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-primary form-control" type="submit">Log in</button>
    <a class="btn btn-primary form-control" href="/signup">Signup</a>
    <a class = "form-control" href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:8080/login-google&response_type=code
    &client_id=1020088288006-7svlc1ln6ji4d4reg03ide2u2d3lm5cu.apps.googleusercontent.com.com&approval_prompt=force">Login With Google </a>

</form>
</body>

</html>
