<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Signup</h2>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="background-color: #F5F5F5">
            <!-- th:object ?? map d? li?u trên form-->
            <form th:action="@{/signup}" method="POST" th:object="${user}" class="form-group">
            <!-- map các tr??ng t??ng ?ng dung th:field="*{fieldName}"-->
                <label>UserName</label>
                <input type="text" name="user_name" placeholder="Input user_name" class="form-control" th:field="*{userName}">

                <label>Email</label>
                <input type="text" name="email" placeholder="Input email" class="form-control" th:field="*{email}">

                <label>Password</label>
                <input type="password" name="password" placeholder="Input password" class="form-control" th:field="*{password}">

                <label>Address</label>
                <input type="text" name="address" placeholder="Input address" class="form-control" th:field="*{address}">

                <label>Tel number</label>
                <input type="tel" name="tel" placeholder="Input tel number" class="form-control">

                <label>Birthday</label>
                <input type="date" name="birthday" placeholder="Input birthday" class="form-control" >

                <input type="submit" class="btn btn-primary form-control" style="margin-top: 10px;" value="signup">
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
</body>
</html>
