<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Signup</h2>
            <p class="errorMsg" th:if="${errorMsg}" th:text="${errorMsg}"</p>
        </div>

        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="background-color: #F5F5F5">
            <form th:action="@{/signup}" method="POST" th:object="${user}" class="form-group">

                <label for="firstName">Firstname</label>
                <input type="text" id="firstName" name="firstName" placeholder="Input firstName" required class="form-control" th:field="*{firstName}">
                <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"></p>

                <label for="lastName">Lastname</label>
                <input type="text" id="lastName" name="lastName" placeholder="Input lastName" required class="form-control" th:field="*{lastName}">
                <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"></p>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Input email" required class="form-control" th:field="*{email}">
                <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Input password" required class="form-control" th:field="*{password}">
                <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></p>

                <label for="address">Address</label>
                <p th:if="${#fields.hasErrors('address')}" th:errorclass="error" th:errors="*{address}"></p>
                <input type="text" id="address" name="address" placeholder="Input address" required class="form-control" th:field="*{address}">

                <label for="tel">Tel number</label>
                <p th:if="${#fields.hasErrors('tel')}" th:errorclass="error" th:errors="*{tel}"></p>
                <input type="text" id="tel" name="tel" placeholder="Input tel number" required class="form-control" th:field="*{tel}">

                <label for="birthday">Birthday</label>
                <p th:if="${#fields.hasErrors('birthday')}" th:errorclass="error" th:errors="*{birthday}"></p>
                <input type="date" id="birthday" name="birthday" placeholder="Input birthday" required class="form-control" th:field="*{birthday}">

                <input type="submit" class="btn btn-primary form-control" style="margin-top: 10px;" value="signup">
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
</body>
</html>
